<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="header">
    <h1>Members only</h1>
    <div class="action-bar">
      <h3><%= title %></h3>
      <% if (user) { %>
        <a href="/logout">Logout</a>
        <% if (user.role === 'trial') { %>
          <a href="/passcode">Enter passcode to join</a>
          <% } else if (user.admin) { %>
          <a href="/message">Create new message</a>
          <% } else{ %>
          <a href="/message">Create new message</a>
          <% } %>
        <% } else{ %>
          <a href="/login">Please Log in</a>
          <a href="/signup">Sign-up</a>
          <% } %>
    </div>
  </div>
  <div class="welcome">
  <% if (user) { %>
  <h2>Welcome back <%= user.username %></h2>
  <% if (user.role === 'trial') { %>
  <% } else if (user.admin) { %>
  <p>Signed in as admin</p>
  <% } else{ %>
  <p>You've joined</p>
  <% } %>
  <% } else{ %>
  <% } %>
  </div>
  <div>
  <h2 class="message-header">Messages</h2>

  <% if(messages) { %>
    <div class="messages">
  <% messages.forEach((message) => { %>
  <% if (user && user.role === 'member') { %>
    <div class="message">
    <h5><%=message.created_by.username %></h5>
    <p><%= message.content %></p>
    <div class="message-bottom">
      <p>
        <%= message.created_at.toLocaleString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' }) %>
      </p>
    <% if(user.admin) { %>
      <form method="POST" action='/message/<%=message._id%>?_method=DELETE'>
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit">Delete Message</button>
      </form>
      <% } %>
  </div>
  </div>
  <% } else{ %>
    <div class="message">
  <div>
    <h5>Anonymous</h5>
    <p><%= message.content %></p>
  </div>
</div>
  <% } %>
  <% }); %>
  <% } else{ %>
  <p>No messages</p>
  <% } %>
</div>
</div>




</body>

</html>