<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (user) { %>
      <h1>Welcome back <%= user.username %></h1>
      <% if (user.role === 'trial') { %>
        <a href="/passcode">Enter passcode to join</a>
      <% } else{ %>
        <p>You've joined</p>
        <a href="/message">Create new message</a>
      <% } %>
      <a href="/logout">Logout</a>
    <% } else{ %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/login">Please Log in</a>
    <p>or</p>
    <a href="/signup">Sign-up</a>
    <% } %>
    <h2>Messages</h2>

      <% if(messages) { %>
        <% messages.forEach((message) => { %>
          <p><%= message.content %></p>
         <% }); %>
      <% } else{ %>
        <p>No messages</p>
      <% } %>
    <% if (user) { %>

    <% } else{ %>

    <% } %>
  </body>
</html>
